<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 100%; display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: center;" class="container">
        <img style="border-radius: 50%; max-width: 300px; max-height: 300px;" src="{{.FilePath}}" alt="profile" />
        <h1>{{.UserName}}</h1>
    </div>
</body>
</html>